/* section */

.feature-list {
  display: flex;
  margin: -15px;
}

.feature-box {
  // flex-basis: calc((100%-90px) / 4);
  // margin-right: 30px;
  margin: 15px;
}

.feature-box:last-child {
  margin-right: 0px;
}

.button-hidden {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border: none;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $button-background-color;
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;
}
.feature-title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
}

.button-icon {
  width: 70px;
  height: 70px;
}
