/* модалка */
b {
  display: inline-block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin-bottom: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;

  opacity: 1;
  transition: opacity $transition;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background: $primari-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
  }

  &_close {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: $primari-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
  }
}

.button-icon {
  .modal_close > & {
    width: 11px;
    height: 11px;
    transition-property: fill;
    transition-duration: $transition;
  }

  .modal-close:hover &,
  .modal-close:focus & {
    fill: $accent-color;
  }
}

.form {
  padding: 40px;
}
.form-field,
.form-comment {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: $title-text-color;
}
.form-field {
  margin-bottom: 10px;
  position: relative;
}
.form-label,
.comment-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primari-text-color;
}

.form-input {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  height: 40px;
  margin: 0;
  outline: none;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover {
  border: 1px solid $accent-color;
}

.form-input:hover ~ .icon-form {
  fill: $accent-color;
}

.icon-form {
  position: absolute;
  width: 18px;
  height: 18px;

  top: 50%;
  left: 12px;

  display: inline-block;
  transition-property: fill;
  transition-duration: $transition;

  fill: $title-text-color;
}

.comment {
  margin-bottom: 20px;
}

.comment-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;
  caret-color: $title-text-color;
  cursor: pointer;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:hover {
    border: 1px solid $accent-color;
  }

  &:focus {
    color: $title-text-color;
  }
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  min-width: 400px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-checkbox {
  display: flex;
  width: 16px;
  height: 15px;
  fill: #ffffff;
  align-items: center;
  justify-content: center;
  margin-right: 7px;

  border: 2px solid $title-text-color;
  border-radius: 2px;
  cursor: pointer;

  transition-property: border, background-color;
  transition-duration: $transition;

  .checkbox:focus + & {
    border-color: $accent-color;
  }

  .checkbox:checked + & {
    background-color: $accent-color;

    border: 2px solid $accent-color;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &_link {
    color: $accent-color;
    text-decoration: underline;
    margin-left: 2px;
  }
}

.form-button {
  height: 50px;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: $primari-white-color;
  background-color: $accent-color;
  border: inherit;
  transition-property: background-color, box-shadow, border-radius, border-color;
  transition-duration: $transition;

  &:focus,
  &:hover {
    background-color: $hero-button-focus-color;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: inherit;
  }
}
