/* site-nav */
/* logo */
.header-blok {
  border-bottom: 1px solid #ececec;
}

.header.container {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $logo-nav-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: $accent-color;
}

.site-nav-link.current {
  color: $accent-color;
}

.site-nav-link {
  position: relative;
  display: block;
}

.site-nav-link.current::after {
  position: absolute;
  width: 100%;
  height: 4px;
  content: "";
  left: 0;
  bottom: 0;

  background-color: $accent-color;
  border-radius: 2px;
}
