/* team */
.team {
  background-color: $button-background-color;

  &_cards {
    display: flex;
  }

  &_item {
    width: calc((100%-60px) / 4);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &_item:last-child {
    margin-right: 0px;
  }

  &_item:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }

  &_border {
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &_list {
    display: flex;
    justify-content: center;
  }
}

.set {
  &_list {
    margin-right: 10px;
  }
  &_list:last-child {
    margin: 0px;
  }
}

.set-list {
  & > .set_link:hover,
  & > .set_link:focus {
    background-color: $accent-color;
  }

  & > .set_link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon-link {
  width: 20px;
  height: 20px;

  fill: $fill-icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .set_link:hover &,
  .set_link:focus & {
    fill: $primari-white-color;
  }
}
